In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Sales.csv")

In [3]:
df

     User ID  Gender  Age  EstimatedSalary  Purchased
0          1       1   19            19000          0
1          2       1   35            20000          0
2          3       0   26            43000          0
3          4       1   27            57000          0
4          5       1   19            76000          0
..       ...     ...  ...              ...        ...
395      396       1   46            41000          1
396      397       1   51            23000          1
397      398       1   50            20000          1
398      399       1   36            33000          0
399      400       0   49            36000          1

[400 rows x 5 columns]

In [4]:
X=df.iloc[:,[2,3]].values

In [5]:
Y=df.iloc[:,-1].values

In [6]:
from sklearn.model_selection import train_test_split

In [15]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, random_state=4,test_size = 0.25)

In [16]:
from sklearn.svm import SVC

In [17]:
A=SVC()

In [18]:
A.fit(x_train,y_train)

SVC()

In [19]:
A.predict(x_test)

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1], dtype=int64)