In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("logisticRegressionSubmit.csv")
df.head()

    X     Y
0  12  Fail
1  36  Pass
2  37  Pass
3  47  Pass
4  10  Fail

In [3]:
df

     X     Y
0   12  Fail
1   36  Pass
2   37  Pass
3   47  Pass
4   10  Fail
5   10  Fail
6   96  Pass
7   23  Fail
8   51  Pass
9   72  Pass
10  65  Pass
11  15  Fail
12  29  Fail
13  45  Pass
14  50  Pass

In [4]:
X=df.iloc[:,:-1].values
X

array([[12],
       [36],
       [37],
       [47],
       [10],
       [10],
       [96],
       [23],
       [51],
       [72],
       [65],
       [15],
       [29],
       [45],
       [50]], dtype=int64)

In [5]:
Y=df.iloc[:,-1].values
Y

array(['Fail', 'Pass', 'Pass', 'Pass', 'Fail', 'Fail', 'Pass', 'Fail',
       'Pass', 'Pass', 'Pass', 'Fail', 'Fail', 'Pass', 'Pass'],
      dtype=object)

In [6]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, random_state=4,test_size = 0.25)

In [7]:
clf = LogisticRegression()

In [8]:
clf.fit(x_train,y_train)

LogisticRegression()

In [9]:
pred=clf.predict(x_test)

In [12]:
clf.predict(x_test)

array(['Fail', 'Fail', 'Pass', 'Pass'], dtype=object)

In [13]:
y_test

array(['Fail', 'Fail', 'Pass', 'Pass'], dtype=object)