In [1]:
import pandas as pd

In [2]:
df= pd.read_excel("Sample.xlsx")

In [3]:
df

       Days  Apple  Bananna  Rice  Biscuits  Chips
0    Days 1     99       60    18        10     66
1    Days 2     68       31    11        29     90
2    Days 3     74       46    71        82     70
3    Days 4     21       44    52        72     54
4    Days 5     11       31    49        19     93
5    Days 6     15       42    91        45     12
6    Days 7     26       10    89        81     97
7    Days 8     42       11    12        26     72
8    Days 9     75       51    69        56     36
9   Days 10     82       91    21        32     89
10  Days 11     42       51    99        34     79
11  Days 12     87       97    22        25     85
12  Days 13     77       77    56        37     98
13  Days 14     84       48    86        76     63
14  Days 15     26       56    60        79     43
15  Days 16     88       96    46        18     42
16  Days 17     76       44    80        81     80
17  Days 18     34       11    58        62     41
18  Days 19     64       14    31        23     48
19  Days 20     79       91    62        48     66

In [4]:
for x in df.index:
    if df.loc[x, "Apple"]>60:
        print(df.loc[x, "Apple"])

99
68
74
75
82
87
77
84
88
76
64
79

In [5]:
for x in df.index:
    if(df.loc[x,"Apple"]>20 and df.loc[x, "Apple"]<50):
        print(df.loc[x,"Apple"])

21
26
42
42
26
34

In [6]:
for x in df.index:
    if df.loc[x, "Apple"]<30:
        print(df.loc[x, "Days"])

Days 4
Days 5
Days 6
Days 7
Days 15

In [7]:
for x in df.index:
    if df.loc[x, "Apple"]<30:
        print( df.loc[x,"Days"])
        print("low sales")
    if df.loc[x, "Bananna"]<30:
        print( df.loc[x,"Days"])
        print("low sales")
    if df.loc[x, "Rice"]<30:
        print( df.loc[x,"Days"])
        print("low sales")
    if df.loc[x, "Biscuits"]<30:
        print( df.loc[x,"Days"])
        print("low sales")
    if df.loc[x, "Chips"]<30:
        print( df.loc[x,"Days"])
        print("low sales")

Days 1
low sales
Days 1
low sales
Days 2
low sales
Days 2
low sales
Days 4
low sales
Days 5
low sales
Days 5
low sales
Days 6
low sales
Days 6
low sales
Days 7
low sales
Days 7
low sales
Days 8
low sales
Days 8
low sales
Days 8
low sales
Days 10
low sales
Days 12
low sales
Days 12
low sales
Days 15
low sales
Days 16
low sales
Days 18
low sales
Days 19
low sales
Days 19
low sales