In [1]:
import pandas as p

In [3]:
x=p.read_excel("income.xlsx")

In [4]:
x

   Salary
0  100000

In [9]:
a=x.loc[0,"Salary"]
if a<=250000:
    tax=0
    print(tax)

0

In [10]:
x=p.read_excel("income.xlsx")

In [11]:
x

   Salary
0  100000
1  260000
2  600000

In [18]:
x=p.read_excel("income.xlsx")

In [19]:
x

    Salary  Age
0  1000000   85

In [20]:
a=x.loc[0,"Salary"]
b=x.loc[0,"Age"]
if a<=250000 and b<=60:
    tax=0
if a>250000 and a<=500000 and b<=60:
    tax=10/100*a
if a>500000 and a<=1000000 and b<=60:
    tax=20/100*a
if a>1000000:
    tax=30/100*a
if a<=300000 and b>60 and b <=80:
    tax=0
if a<=300000 and a<=500000 and b>60 and b <=80:
    tax=10/100*a
if a<=500000 and a<=1000000 and b>60 and b <=80:
    tax=20/100*a
if a>1000000 and b>60 and b <=80:
    tax=30/100*a      
if a<=500000 and b>80:
    tax=0
if a>500000 and a<=1000000 and b>80:
    tax=20/100*a
if a>1000000 and b>80 and b<=100:
    tax=30/100*a
print(tax)

200000.0

In [30]:
x=p.read_excel("income.xlsx")

In [31]:
x

    Salary  Age     hra
0  1000000   85  150000

In [39]:
a=x.loc[0,"Salary"]
b=x.loc[0,"Age"]
c=x.loc[0,"hra"]
if a<=250000 and b<=60:
    tax=0
if a>250000 and a<=500000 and b<=60:
    tax=10/100*a
if a>500000 and a<=1000000 and b<=60:
    tax=20/100*a
if a>1000000:
    tax=30/100*a
if a<=300000 and b>60 and b <=80:
    tax=0
if a<=300000 and a<=500000 and b>60 and b <=80:
    tax=10/100*a
if a<=500000 and a<=1000000 and b>60 and b <=80:
    tax=20/100*a
if a>1000000 and b>60 and b <=80:
    tax=30/100*a      
if a<=500000 and b>80:
    tax=0
if a>500000 and a<=1000000 and b>80:
    tax=20/100*a
if a>1000000 and b>80 and b<=100:
    tax=30/100*a
if c<10/100*a:
     hrat=0
if c>10/100*(a):
    hrat=(50/100)*(c-(10/100*(a)))

t=hrat+tax
print(t)

225000.0