In [1]:
s=int(input("Enter the standard time"))
t=int(input("Enter the time Taken"))
r=int(input("Enter the rate "))
total_earnings=(t*r)+(s-t)*(r*1/2)
print(total_earnings)

Enter the standard time20
Enter the time Taken15
Enter the rate 100
1750.0

In [2]:
import pandas as c

In [5]:
x=c.read_excel("sample 2.xlsx")

In [6]:
x

    name   t   s    r
0  colin  20  15  600

In [15]:
T=x.loc[0,"t"]
S=x.loc[0,"s"]
R=x.loc[0,"r"]
total_earnings=(T*R)+((S-T)*(1/2))*R
print(total_earnings)

10500.0

In [16]:
x=c.read_excel("Sample 2.xlsx")

In [17]:
x

      p  a  b  c    t  s
0  5000  5  8  6  420  2

In [20]:
P=x.loc[0,"p"]
A=x.loc[0,"a"]
B=x.loc[0,"b"]
C=x.loc[0,"c"]
T=x.loc[0,"t"]
S=x.loc[0,"s"]
Tot_T=A+B+C
M=((P*Tot_T)/T)/S        
print(M)

113.0952380952381

In [21]:
x=c.read_excel("Sample 2.xlsx")

In [22]:
x

      p  a  b  c    t  s
0  5000  5  8  6  420  2
1  4044  1  4  3  360  3
2  5655  3  5  2  400  1
3  8600  5  6  1  250  4

In [27]:
D=0
d=0
for D in x.index:
    P=x.loc[D,"p"]
    A=x.loc[D,"a"]
    B=x.loc[D,"b"]
    C=x.loc[D,"c"]
    T=x.loc[D,"t"]
    S=x.loc[D,"s"]
    Tot_T=A+B+C
    M=((P*Tot_T)/T)/S        
    D=D+d
    d=d+1
    print(M)

113.0952380952381
29.955555555555552
141.375
103.2