In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("Cars.xlsx")

In [3]:
df

  CAR      MODEL  VOLUME  WEIGHT  CO2
0   A       AYGO    1000     790   99
1   B  SPACE BAR    1200    1160   95
2  C       CITGO    1000     929   95
3   D        500     900     865   90
4   E     COOPER    1500    1140  105
5   F         UP    1000     929  105
6   G      FABIA    1400    1109   90
7   H    A-CLASS    1500    1365   92
8   I     FIESTA    1500    1112   98
9   G         A1    1600    1150   99

In [7]:
x=df[['WEIGHT','VOLUME']]

In [8]:
x

   WEIGHT  VOLUME
0     790    1000
1    1160    1200
2     929    1000
3     865     900
4    1140    1500
5     929    1000
6    1109    1400
7    1365    1500
8    1112    1500
9    1150    1600

In [19]:
y=df['CO2']

In [20]:
y

0     99
1     95
2     95
3     90
4    105
5    105
6     90
7     92
8     98
9     99
Name: CO2, dtype: int64

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
regressor=LinearRegression()

In [23]:
regressor.fit(x,y)

LinearRegression()

In [24]:
ypred=regressor.predict([[2300,1300]])

In [25]:
print(ypred)

[70.01815481]

In [ ]:
x=